{# src/fbeck/HomeBundle/Resources/views/Home/contact.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  {{ 'contact.logged_msg'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row-fluid">
        <div id="menu" class="span3 box">
          <div>
            <h2>Blog</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ path('fbeck_blog_home') }}">{{ 'sidebar.blog.home'|trans }}</a></li>
              <li><a href="{{ path('fbeck_blog_add') }}">{{ 'sidebar.blog.add'|trans }}</a></li>
            </ul>
                      
            {#{{ render(controller("fbeckBlogBundle:Blog:menu", {'nombre': 3})) }}#}
          </div>
          <div>
            <h2>Forum</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ path('ccdn_forum_user_category_index') }}">{{ 'sidebar.forum.home'|trans }}</a></li>
            </ul>
          </div>
          <div>
            <a class="contact" href="{{ path('fbeck_home_contact') }}"><h2>{{ 'sidebar.contact'|trans }}</h2></a>
          </div>
        </div>
        <div id="content" class="span9">
          <div class="main_body">

  <h2>{{ 'contact.title'|trans }}</h2>

  {% if msg|default is not null %}
  	<p> {{ msg }} </p>
  {% endif %}

  <form method='post' class="contact user form-horizontal" name="contact" action="{{ path('fbeck_home_contact') }}">
	<div class="control-group">
		<label class="control-label">{{ 'contact.form.name'|trans }} :</label>
		<div class="controls">
			<input type="text" name="name" required="required"> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"> {{ 'contact.form.email'|trans }} :</label>
		<div class="controls">
			<input type="text" name="email" required="required"> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"> {{ 'contact.form.subject'|trans }} :</label>
		<div class="controls">
			<select name="subject" required="required">
				<option>{{ 'contact.form.subjects.sugg'|trans }}</option>
				<option>{{ 'contact.form.subjects.err'|trans }} </option>
				<option>{{ 'contact.form.subjects.change'|trans }}</option>
				<option>{{ 'contact.form.subjects.other'|trans }}</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"> {{ 'contact.form.message'|trans }} :</label>
		<div class="controls">
			<textarea name="body" rows="10" required="required"></textarea>
			<button type="submit" name="submit" value="AWESOME"class="btn">{{ 'contact.form.send'|trans }} </button>
		</div>
	</div>
	
</form>

</div>
    </div>
  </div>

{% endblock %}