{# src/fbeck/BlogBundle/Resources/views/Blog/view.html.twig #}

{% extends "fbeckBlogBundle::layout.html.twig" %}

{% block title %}
  {{ 'blog.view.title'|trans }} - {{ parent() }}
{% endblock %}

{% block fbeck_blog_body %}

  <h2>WOOP{{ article.titre }}</h2>
  <i>{{ 'blog.list.byM'|trans }} {{ article.auteur }}, {{ 'blog.list.the'|trans }} {{ article.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ article.contenu }}
  </div>

  <p>
    <a href="{{ path('fbeck_blog_home') }}" class="btn">
      <i class="icon-chevron-left"></i>
      {{ 'blog.view.back'|trans }}
    </a>
    <a href="{{ path('fbeck_blog_edit', {'id': article.id}) }}" class="btn">
      <i class="icon-edit"></i>
      {{ 'blog.view.edit'|trans }}
    </a>
    {#<a href="{{ path('fbeck_blog_delete', {'id': article.id}) }}" class="btn">
      <i class="icon-trash"></i>
      {{ 'blog.view.delete'|trans }}
    </a>#}
  </p>

{% endblock %}