{# src/fbeck/UserBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}


{% block body %}
<div class="row-fluid">
        <div id="menu" class="span3 box">
          <div>
            <h2>The Blog</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ path('fbeck_blog_home') }}">Blog home</a></li>
              <li><a href="{{ path('fbeck_blog_add') }}">Add an article</a></li>
            </ul>
                      
            {#{{ render(controller("fbeckBlogBundle:Blog:menu", {'nombre': 3})) }}#}
          </div>
          <div>
            <h2>The Forum</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ path('ccdn_forum_user_category_index') }}">Forum home</a></li>
              {#<li><a href="{{ path('fbeck_blog_add') }}">Add an article</a></li>#}
            </ul>
          </div>
          <div>
            <a class="contact" href="{{ path('fbeck_home_contact') }}"><h2>Contact</h2></a>
          </div>
        </div>
        <div id="content" class="span9">
          <div class="main_body">

        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <span> or </span>
                <a href="{{ path('fos_user_registration_register') }}"> Create an account </a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        </div>
    </div>
  </div>
{% endblock body %}
