{# src/fbeck/AdminBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Admin Area - {{ parent() }}
{% endblock %}

{% block body %}

<div class="row-fluid">
        <div id="menu" class="span3 box">
          <div>
            <h2>The Blog</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ path('fbeck_blog_home') }}">Blog home</a></li>
              <li><a href="{{ path('fbeck_blog_add') }}">Add an article</a></li>
            </ul>
                      
            {#{{ render(controller("fbeckBlogBundle:Blog:menu", {'nombre': 3})) }}#}
          </div>
          <div>
            <h2>The Forum</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ path('ccdn_forum_user_category_index') }}">Forum home</a></li>
              {#<li><a href="{{ path('fbeck_blog_add') }}">Add an article</a></li>#}
            </ul>
          </div>
          <div>
            <a class="contact" href="{{ path('fbeck_home_contact') }}"><h2>Contact</h2></a>
          </div>
        </div>
        <div id="content" class="span9">
          <div class="main_body">

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Awesome Admin Area</h1>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block fbeck_admin_body %}
  {% endblock %}
</div>
    </div>
  </div>
{% endblock %}